body {
    font-family: Arial, Helvetica, sans-serif;
}
.primeiro {
    text-align: center;
}
.segundo {
    margin: 0;
    height: 100vh;
}
button {
    background-color: rgb(231, 231, 231);
    padding: 10px 20px;
    font-size: larger;
    cursor: pointer;
    margin: 10px;
}
.imagem-topo {
    height: 45%;
    background-image: url('../img/nos/viagemjampabeijoonibus.jpg');
    background-size: cover;
    background-position: center;
}
.resto-pagina {
    height: 100%;
    background-color: rgb(180, 0, 0);
    text-align: center;
}
nav {
    margin-left: 30%;
    margin-right: 30%;
    padding: 1%;
    background-color: white;
}
a {
    margin: 0px 15px 0px 15px;
}